.header {    
    border: 2px solid rgb(6, 6, 6);
    padding: 1px;          
    width: 100%;    
}

.container{
    text-decoration: none;
    font-size: 1.8rem;    
    color: #0a0a0a;
}
.row{
    background-color: darkcyan;
    color: white;
}
.formulario{
    background-color: darkcyan;
    color: white;
}






